/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do Website */
body {
    width: 100%;
}

main {
    margin: 1%;
    width: 98%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
        'navbar navbar'
        'secao coluna'
        'rodape rodape';
}

nav {
    grid-area: navbar;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 0;
}

#barra-de-navegacao {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.item-navbar {
    width: 20%;
    margin: 1%;
    padding: 1%;
}

/* Tela de Login */
#tela-de-login {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

/* Seção Central */
section {
    grid-area: secao;
    border: 1px solid black;
    height: 100%;
}

p{
    margin: 1%;
}

img{
    margin: 1%;
}
/* Coluna Lateral */
aside {
    width: 100%;
    grid-area: coluna;
    border: 1px solid black;
    height: 100%;
}

/* Rodapé */
#rodape {
    grid-area: rodape;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
}